/*ale's css file*/
/*list reset start*/
body{}
ul{margin:0px; padding:0px; }
li{margin:0xp; padding:0px; }
/*list reset end*/
.container_12{border:1px dashed #ccc; }
p,h2,h3,h4{ color:#333; font-family:georgia;
margin-top:5px; margin-bottom:5px;   }
h1{font-family: 'Kelly Slab', cursive; color:#333;  }

.grid_12{background:#FFD700; margin-bottom:10px; height:450px;
 position:relative;  }

.grid_2:nth-child(even){ border-bottom:2px solid #FFD700;}
.grid_2:nth-child(odd){Border-top:2px solid #FFD700;}
.grid_6{border-bottom: 2px solid #FFD700; margin-bottom:15px;}
.ui{float:right; background:white; padding-top:5px;   }
.ui nav ul li{ display:inline; list-style:none;
 padding-left:5px;  padding-right:5px; }
.ui nav ul li a{text-decoration:none; color:#555; }
.ui nav ul li a:hover{text-decoration:none; color:#333;
/* font-weight:bold; */  }

.banner{display:inline; float:left; padding-top:130px;
    }

 .image img{height:150px; width:140px;  background:#ccc; }

 .image2 img{height:260px; width:460px; background:#ccc; }

 .notation{background:#eee; padding:5px; border:1px solid #aaa;
 position:fixed; display:inline; float:right; z-index:1; right:50px; bottom:50px;  }
 .notation ul li{list-style:none; }
