*{
  font-family: 'Roboto', sans-serif;
  text-align:center;
  color:#333;
}

h1{
  margin:0px;
  font-size:1.3em;
  /*letter-spacing:0.5px;*/
  }

h3{
  font-size:1em;
  margin:0px;
  padding:0px
}


body{

}

p{
  font-family:'Roboto', sans-serif;
  color:#333;
}

#container{
  width:30px;
  height:30px;
  /*border-radius:50%;*/
  background:#ddd;
  margin:100px auto;
  position:relative;
}

#child{

}

ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

ul li{

}

ul li a{
  text-decoration:none;
}

ul li a:hover{
  text-decoration:none;
  color:#111;
}
